table,td,tr{
    border:3px solid black;;
    }
    td{
    padding: 2 px ;
    }
body{
    background-color:lightgray;
    display: flex;
    justify-content: center;
    
}
.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    align-items: center;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color:grey;
    text-align:center;
    width:100%;
    margin-bottom:10pt;	
    box-sizing:border-box
    }
    .navbar a{
        text-decoration: none;
        display: flex;
        padding: 30px;
        padding-left: 100px;
        }
    a{
        padding:10px;
    }
    a:hover{color:black;
            background-color: lightgrey;        
    }
    